@charset "utf-8";
/* CSS Document */


/* ---Forside sektionen og dens css--- */

#forside{}

.forsideBillede img{
	width: 88%;
	margin: 0 7.5%;
}


/* ---Projekter sektionen og dens css--- */

#projekter{}

.projektVindueStor, .projektVindueLille{
	padding: 3%;
	background-color: white;
}
.projektVindueStor{	margin: 5% 28.8%;}
.projektVindueLille{width: 21.7%;}


/* ---Om mig sektionen og dens css--- */

#omMig{}

.omMigTekst{
	width: 34.2%;
	margin-left: 7.5%;
	margin-right: 4.2%;
}
.omMigBillede{
	width: 41.5%;
	margin-left: 4.2%;
	margin-right: 7.5%;
}


/* ---Refleksion sektionen og dens css--- */

#refleksioner{}

.refleksionerTekst1, .refleksionerTekst2{ width: 41.5%;}
.refleksionerTekst1{ margin: 2% 0.5% 2% 7.5%;}
.refleksionerTekst2{ margin: 2% 7.5% 2% 0.5%;}

.refleksionerLink{
	width: 30%;
	margin-left: 51%;
}


/* ---Refleksion sektionen og dens css--- */

#kontakt{}

.kontaktFormular{
	width: 71.1%;
	margin-left: 14.5%;
	color: black;
}

input{}

form{
	position: absolute;
	width: 100%;
	left: 0;
}
.kontaktFelt{
	width: 40%;
	margin-left: 35%;
	margin-top: 20px;
}
.top{
	margin-top: 10%;
}
.baggrundsBillede{
}

textarea{
	width: 60%;
	height: 60px;
	max-height: 100px;
	min-height: 50px;
	max-width: 500px;
	min-width: 100px;
}





