@charset "utf-8";
/* CSS Document */


/* ---For at passe underemnet ind i sidebaren--- */
nav{height: 140px;}

/* -----Slideshow sektionen og dens css----- */

.slideshow{
	width: 49.4%;
	margin-left: 7.5%;
	position: relative;
}

.slide img{
	object-fit: scale-down;
	height: 500px;
}

.slideRamme{
	border: 1.5px solid #585858;
	border-bottom: none;
}

/* ---Forrige og næste knapperne--- */
.forrige, .naeste{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto; /*ikke nødvendig, men hvis det ikke står der kommer der måske problemer senere*/
	margin-top: -22px; /*ikke nødvendig, men hvis det ikke står der kommer der måske problemer senere*/
	padding: 16px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.naeste {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* ---Hover effekten--- */
.forrige:hover, .naeste:hover {
 	background-color: rgba(0,0,0,0.8);
}

/* ---Numrene i hjørnet--- */
.numbertext {
	color: black;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* ---Fading animationen--- */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: 0} 
	to {opacity: 1}
} 


/* -----Tekst sektionen på siden og dens css----- */

.problemStilling{
	width: 34.9%;
	margin-left: 8.4;
	
}

.projektInformation{
	width: 100%;
}

