@charset "utf-8";
/* CSS Document */


/* -----Browser/CSS reset vi hugger fra eric mayer fra meyerweb----- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {	display: block;}
body 			{	line-height: 1;}
ol, ul 			{	list-style: none;}
blockquote, q 	{	quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --------------------------------------- */
/* -------Her kommer mit eget style------- */
/* --------------------------------------- */

/* -----Overordnet css----- */

body{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color:#585858;
	background-color:#EAEFFF;
}

/* Containeren som alt på siden er i */
#container{
	max-width: 3000px;
/*min-width: 800px;*/
	height: auto;
	margin: 0 2.7%;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* For at lave noget om til flex */
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

img{
	width: 100%;
	height: auto;
}

/*div {border: 1px solid red;}  Bliver commenteret ud når der skal uploades */

h1{	font-size: 70px;}
h2{ font-size: 45px;}
h3{ font-size: 35px;}
h4{ font-size: 20px;}
p { font-size: 20px;}



/* -----Sidebar sektionen og dens css----- */

.sidebar{
	position: fixed;
	width: 11%;
/*min-width: 88px;*/
	height: 600px;
	left: 0px;
	margin: 0 2.7%;	
	padding-top: 11px;
}
.logo{	
	margin-bottom: 20px;
}

nav{
	width: 90%;
	height: 100px;
	flex-direction: column;
}
nav a{
	text-decoration: none;
	color:#707070;
	font-size: 20px;
	font-weight:bold;
}
nav a:hover{ 
	color:#A2A2A2;
}
.sidebarStreg{
	width: auto;
}



/* -----Main sektionen og dens css----- */

.main{
	width: 87.4%;
	height: 100%;
}

/* En "fake" sidebar fordi 'position: fixed' ikke fungere med flex */
.fakeSidebar{
	width: 11.7%;
	height: 100%;
}
.titel{
	width: 100%;
	height: auto;
	text-align: center;
}

.sektionsRamme{
	width: auto;  /*ikke nødvendig, men tænker at hvis det ikke står der så kommer der problemer senere*/
	height: auto; /*ikke nødvendig, men tænker at hvis det ikke står der så kommer der problemer senere*/
	padding-bottom: 5%; 
}


/* ---Forside sektionen og dens css--- */

#forside{}

.forsideBillede img{
	width: 88%;
	margin: 0 7.5%;
}


/* ---Projekter sektionen og dens css--- */

#projekter{}

.projektVindue{
	background-color: white;
	padding: 3%;
}
.stor{	margin: 5% 28.8%;}
.lille{	width: 21.7%;}


/* koden for hvordan jeg første gang prøvede at opbygge projekter sektionen, lidt ligesom jeg har det nu
	.projektVindue{
		background-color: white;
		padding: 3%;
	}
	.projektVindue img{
		width: 100%;
		height: 100%;
	}
	.stort{	  margin: 2% 28.8%;}
	.lille{	  width: 10%;}
	.venstre{ margin-right: 4%;}
	.hoejre{  margin-left: 4%;}
	.midten{  margin: 4%;}   */


/* ---Om mig sektionen og dens css--- */

#omMig{}

.omMigTekst{
	width: 34.3%;
	margin-left: 7.5%;
	margin-right: 4.2%;
}
.omMigBillede{
	width: 41.6%;
	margin-left: 4.2%;
	margin-right: 7.5%;
}


/* ---Refleksion sektionen og dens css--- */

#refleksioner{}

.refleksionerTekst1{
	width: 41.8%;
	margin-left: 7.5%;
	margin-right: 0.5%;
	margin-bottom: 2%;
	margin-top: 2%;
}
.refleksionerTekst2{
	width: 41.8%;
	margin-left: 0.5%;
	margin-right: 7.5%;
	margin-bottom: 2%;
	margin-top: 2%;
}
.refleksionerLink{
	width: 11%;
	margin-left: 50.6%;
}








